*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(48, 150, 154);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(26, 75, 59);
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    
}
.container-head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.container-head .title {
    text-align: center;
    margin-left: 4.5rem;
}

.container img {
    width: 20px;
    height: 25px;
    position: absolute;
    right: 5px;
    cursor: pointer;
}
.container-head .results {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    background-color: rgb(20, 20, 64);
    margin: 1rem 0;
    padding: 5px;
    height: 35px;
    color: #fff;
    width: 280px;
    position: relative;
    
}

.container-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.container-body .control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.container-body  .control input {
 transform: translateX(80px);
 padding: 10px;
}
.container-body .control #numbers {
    transform: translateX(135px);
}
.container-body .control #symbol {
    transform: translate(139px);
}
.container-body .control #upper {
    transform: translateX(77px);
}
.container-body .control #length {
    width: 35px;
    height: 20px;
    padding: 0;
    border: none;
    outline: 0;
    transform: translateX(125px);
}
.generate {
    border: none;
    color: #fff;
    padding: 8px 15px;
    width: 280px;
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(1, 28, 24);
    
}
.generate:active {
    transform: scale(1.02);
}

